BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine : None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AlignConsecutiveMacros: true
AlwaysBreakAfterDefinitionReturnType: true
BinPackParameters: false
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: false
DerivePointerBinding: false
IndentCaseLabels : false
IndentWidth: 4
PenaltyBreakComment: 60
SpaceInEmptyParentheses: true
SpacesInAngles: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
Standard: Cpp11
TabWidth: 4
ContinuationIndentWidth: 8
